@import "variables";

.button {
  background: none;
  border: $default-border;
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  margin: 0;
  width: auto;
  font-family: $wide-font-family;
  font-size: $button-font-size;
  text-transform: uppercase;

  cursor: pointer;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;

  &:hover {
    background: $default-border-color;
    color: $white;
  }

  &:active {
    top: 1px;
  }
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #a131ae;
  color: #fff !important;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 3px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #a131ae;
}